html, body
{
    height: 100%;
	width:100%;
	padding: 0;
    margin: 0;
}

div img{
width:100%;
height:auto;
}

#friend_list{
top:10%;
background-image: url("assets/02.png");
opacity:0;
position:absolute;
height:70vh;
width:20vw;
z-index:1;
overflow:scroll;
}

.icon img{
height:100%;
width:auto;
}

#upper_banner{
background-color:#46C3E0;
height:10%;
width:100%;
}
#map_bg{
background-color:#46C3E0;
position:relative;
width:100%;
height:80%;
}

#img_map{
position:absolute;
left:50%;
transform: translateX(-50%);
height:100%;
width:auto;
max-width:100%;
}

#lower_banner{
background-color:#46C3E0;
position:absolute;
bottom:0px;
height:10%;
width:100%
}

#logo_h{
position:absolute;
height:8vh;
width:auto;
left:50%;
transform:translateX(-50%);
top:1vh;
}

#friends{
position:absolute;
height:10vh;
width:auto;
left:5vw;
}

#logout{
position:absolute;
height:10vh;
width:auto;
right:5vw;
}

#profile{
position:absolute;
width:auto;
height:100%;
left:10vw;

}

#homepage{
position:absolute;
width:auto;
height:100%;
left:50%;
transform:translateX(-50%);
}

#map{
position:absolute;
width:auto;
height:100%;
right:10vw;

}

#tainan_btn{
position:absolute;
top:60vh;
left:30vw;
height:3vh;
width:10vw;
border-color:navy;
}
#taipei_btn{
position:absolute;
top:23vh;
left:54vw;
height:3vh;
width:10vw;
border-color:navy;
}