html, body
{
    height: 100%;
	width:100%;
	padding: 0;
    margin: 0;
}

#banner{
height:10vh;
width:100%;
background-color:black;
}

#logo{
position:absolute;
height:6vh;
width:auto;
left:50%;
transform:translateX(-50%);
top:2vh;
}

#back{
position:absolute;
height:3vh;
width:auto;
top:3.5vh;
left:5vw;
}

#image{
height:50vh;
width:100%;
background-color:gray;
}

#middle{
height:6vh;
width:100%;
background-color:black;
}

#title{
position:absolute;
display:inline-block;

height:6%;
width:35%;
left:10vw;
}

#title_w{
position:relative;
font-size:60px;
color:white;
top:50%;
transform:translateY(-50%);
}

#rating{
position:absolute;
display:inline-block;
width:22%;
height:6%;
left:45%;
}

img.star{
position:relative;
height:35%;
top:50%;
transform:translateY(-50%);
}

#likes{
position:absolute;
display:inline-block;
width:7%;
height:6%;
left:76%;
}

#like_icon{
position:relative;
height:45%;
left:70%;
top:50%;
transform:translateY(-50%);
}

#like_count{
position:relative;
font-size:30px;
color:white;
top:50%;
transform:translateY(-50%);
}

#comment_icon{
position:relative;
height:45%;
left:78%;
top:50%;
transform:translateY(-50%);
}

#comment{
position:absolute;
display:inline-block;
width:7%;
height:6%;
left:90%;
}

#comment_count{
position:relative;
font-size:30px;
color:white;
top:50%;
transform:translateY(-50%);
}

#content{
height:25vh;
width:100%;
background-color:white;
}

#auther{
position:absolute;
height:10%;
width:100%;
}

#auther_icon{
position:relative;
height:50%;
left:5%;
top:50%;
transform:translateY(-50%);
}

#auther_name{
position:absolute;
display:inline-block;
height:100%;
width:35%;
left:15%;
}

#name{
position:relative;
font-size:45px;
color:black;
top:25%;
}

#time{
position:relative;
font-size:25px;
color:black;
top:27%;
}

#content_w{
position:absolute;
height:15%;
width:74%;
top:76%;
left:13%;
font-size:35px;
}
#bottom{
height:9vh;
width:100%;
background-color:black;
}